<div class="top-box" style="min-width:1000px;top:0">
  <h1 class="logo">
    <a href="/#">网易云音乐</a>
  </h1>
  <div class="m-nav">
    <ul>
      <li>发现音乐</li>
      <li>我的音乐</li>
      <li>朋友</li>
      <li>音乐人</li>
      <li>
        <div class="down">
          <span class="down-client">下载客户端</span>
          <sup class="hot">&nbsp;</sup>
        </div>
      </li>
    </ul>
  </div>
  <div class="m-control">
      <div class="m-search">
        <!-- <input type="text" class="get-search" nzType="'search'"> -->
        <nz-input [nzType]="'search'" [nzPlaceHolder]="'歌名/MV/用户'" [(ngModel)]="_value" style="width: 150px;"></nz-input>
      </div>
      <div class="m-login">
        <nz-dropdown>
          <a class="ant-dropdown-link" nz-dropdown>登录<i class="anticon anticon-down"></i></a>
          <ul nz-menu>
            <li nz-meun-item class="login-item">
              <a>163登录</a>
            </li>
            <li nz-meun-item class="login-item">
              <a>QQ登录</a>
            </li>
            <li nz-meun-item class="login-item">
              <a>游客登录</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
  </div>
</div>
